Shooter2D/Library
Shooter2D/ProjectSettings
Shooter2D/UnityPackageManager
Shooter2D/obj/Debug
Shooter2D/Assets/Plugins
Shooter2D/.idea/.idea.Shooter2D/.idea
Assembly-CSharp.csproj
Shooter2D.sln
Shooter2D.sln.DotSettings.user
riderModule.iml
Shooter2D/Packages
Shooter2D/Temp
Shooter2D/.vs/Shooter2D/xs
